<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Blog</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active px-3" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <!-- <a class="nav-link px-3" href="/addblog">Add Blog</a> -->
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle px-3" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Catagory
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/catagory/animal">Animal</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/catagory/nature">Nature</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/catagory/travel">Travel</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <!-- <a class="nav-link px-3" href="#">My Post</a> -->
                </li>
            </ul>
            <div class="mx-5">
                <!-- <a href="/signin.html" class="mx-1 btn btn-outline-primary">Signin</a>
                <a href="/signin.html" class="mx-1 btn btn-outline-primary">Signin</a> -->
                <!-- <a href="/signin.html" class="mx-1 btn btn-outline-danger">Logout</a> -->
                <!-- <button class="mx-1 btn btn-outline-danger">Logout</button> -->
            </div>
            <!-- <a href="/profile.html"><img src="https://scontent.fktm3-1.fna.fbcdn.net/v/t1.6435-9/s1080x2048/163010005_1372219383115867_5653984754757638142_n.jpg?_nc_cat=107&ccb=1-5&_nc_sid=e3f864&_nc_ohc=gvfLP712vjoAX_XmCaR&_nc_ht=scontent.fktm3-1.fna&oh=00_AT-FPTq4gd3KXo5TmKV4-0gAzbCLFC7HYoKoAQWhCmk6tg&oe=61F41E7D" class="" alt="" width="30" height="30"
                    style="border-radius:50%; object-fit:cover"></a> -->
            <!-- <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form> -->
        </div>
    </div>
</nav>